:root {
	--admin-dark-rgb: 30, 41, 59;
	--admin-light-rgb: 241, 245, 249;
	--admin-accent-color: #818cf8;
	--admin-accent-color-hover: #a5b4fc;
}

[data-admin] {
	font-family: "Synonym", sans-serif;
	text-transform: lowercase;
}
